body {
    font-family: Arial, sans-serif;
    background: url("../images/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.box h2{
    font-size: 20px;
    color: rgb(171, 69, 202);
    text-align: center;
    font-weight: 600;
    margin-top: 1px;
    margin-bottom: 20px;
    text-shadow: 0 0 5px rgba(255,255,255,0.5);
}

.box {
    width: 500px;
    height: 300px;
    margin: 100px auto;
    padding: 20px;
    background: rgba(255,255,255,0.3);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.4);
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.box input,.box select {
    width: 100%;
    padding: 8px;
    border-radius: 10px;
    background: rgba(255,255,255,0.2);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255,255,255,0.4);
   
    font-size: 15px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.row select {
    display: inline block;
    width: 45%;
}

#swapBtn {
    width: 50px;
    font-size: 20px;
    padding: 5px;
    margin: 0 5px;
    cursor: pointer;
}

.result {
    margin-top: 15px;
    font-size: 18px;
}
.result span{
     /* display: inline block; */
   width: 90%;
    padding: 8px;
    border-radius: 10px;
    background: rgba(255,255,255,0.2);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255,255,255,0.4);
   
    font-size: 15px;
}
